/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color:#FD6E0A;
    --secondary-color:#FFF8F3;
}

/* Utilities */
body{
    font-family: "Open Sans", sans-serif;
    
}
.btn-primary{
    border: 0;
    background-color: var(--primary-color);
    color: white;
    font-weight: 700;
    font-size: 1rem;
    padding: .5em 1em;
    border-radius: .25em;
}
.btn-primary:hover{
    background-color: orange;
}

/* Typography */
h1{
    font-weight: 700;
    font-size: 3rem;
}

/* Header */

header{
    max-height: 100vh;
    background-color: var(--secondary-color);
    background-image: url(/images/developer.png);
    background-size: contain;
    background-repeat:no-repeat;
}

/* Navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 10em;
}

span{
    color: var(--primary-color);
}

 .nav-list{
 display: flex;
 align-items: center;
 text-decoration: none;
}

.nav-list-item{
    margin-right: 2em;
    list-style-type: none;
}

.nav-list-item a{
    text-decoration: none;
    color: black;
    font-weight: 700;
}

/* Banner */
.banner{
    padding: 0em 10em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(/images/header_bg.png);
    background-repeat:no-repeat;
    background-position-x:50rem;
    background-position-y:10rem ;
}

.banner-img img{
    width: 100%;
}
.banner-description{
    margin:1em 0;
}
.btn-secondary{
  margin-left: .25em;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  padding: .5em 1em;
  background-color: var(--secondary-color);
  border-radius: .3em;
  font-size: 1rem;
  font-weight: 700;
}